/* contenedor calendario */

.calendar,
.calendar-day {
    padding: 2rem 1rem;
    border-radius: 0.3rem;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
}

.calendar__header,
.calendar-day__header {
    color: var(--third-color);
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.calendar-day__header--margin0 {
    margin-bottom: 0;
}

.control,
.control-day {
    color: var(--theme-color);
    font-size: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0 5px;
    border-radius: 100%;
    background-color: var(--color-gray-light);
}

.grid__header,
.grid__body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.grid__header {
    color: var(--secondary-color);
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: 700;
    /* grid-auto-rows: 40px; */
    grid-auto-rows: 4rem;
}

.grid__body {
    /* grid-auto-rows: 40px; */
    grid-auto-rows: 4rem;
    color: var(--color-cell);
}

.grid__cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-gray-light);
}

.grid__cell--gd {
    cursor: pointer;
}

.grid__cell--selected {
    color: var(--theme-color);
    background-color: var(--color-day-selected);
    border-radius: 100%;
}

.grid__cell--available-day {
    color: var(--theme-color);
    background-color: var(--button-third-color);
    border-radius: 100%;
}

.grid__cell--disabled {
    color: var(--color-gray-light);
    cursor: not-allowed;
}

@media (min-width: 950px) {
    .calendar {
        min-width: 300px;
        max-width: 365px;
        padding-bottom: 1rem;
    }
    .calendar__header {
        margin-bottom: 1rem;
    }
    .grid__header {
        grid-auto-rows: 3.5rem;
    }
    .grid__body {
        grid-auto-rows: 3.5rem;
    }
}