/* Globals */

:root {
    /*Colores en uso*/
    --theme-color: white;
    --primary-color: #00314F;
    --text-color: #3B3B3B;
    --input-border-color: #c0c0c0;
    --secondary-color: #0363AD;
    --button-primary-color: #002E54;
    --button-third-color: #44B28F;
    --background-color-light: #DDDDDDCC;
    --fourth-color: #C4C4C4;
    --color-cell: gray;
    --color-day-selected: #F8BE1C;
    --color-gray-light: lightgray;
    --color-background30: rgba(221, 221, 221, 0.3);
    /***************/
    --third-color: #1669B1;
    /* --text-color-inverse: white; */
    /* --button-secondary-color: #0363AD; */
    /* --color-bg-calendar: white; */
    --color-cell-disabled: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* min-height: 100vh; */
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--theme-color);
    height: 100vh;
    /* width: 100%; */
}

header {
    background-image: url('/img/portada_salud_mobile.png');
    /* height: 8rem; */
    height: 12%;
}

.logo {
    background-image: url('/img/logo_salud_mobile.png');
    background-repeat: no-repeat;
    height: 4.4rem;
    width: 19.2rem;
    position: relative;
    top: 1.5rem;
    left: 12rem;
}

.titulo-menu {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 10%; */
    height: 5rem;
}

h1 {
    color: var(--theme-color);
    padding: 1.6rem 3.2rem;
    font-size: 2.2rem;
}

main {
    height: 80%;
}

.open-menu {
    fill: var(--theme-color);
    padding-right: 3.2rem;
    padding-top: 0.6rem;
}

.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    background-color: var(--theme-color);
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    transition: opacity 0.2s;
    transition: 0.5s;
    opacity: 0;
}

.menu__img-close {
    width: 15px;
    height: 15px;
}

.menu:target {
    opacity: 1;
    pointer-events: auto;
}

.menu__link {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    text-align: center;
    border-bottom: solid;
    border-color: var(--input-border-color);
    padding: 1.6rem 0;
}

.menu__link--close {
    padding: 2rem 4rem;
    text-align: right;
    border-style: none;
}


/* standalone */

.badge {
    padding: 1.7rem 2.2rem;
    background-color: var(--primary-color);
    border-radius: 50%;
    color: var(--theme-color);
    font-size: 1.6rem;
    font-weight: 600;
}

.badge--seccion {
    left: 11px;
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
}

.form-control__label {
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--secondary-color);
    padding: 0.5rem 0;
}

.form-control__input {
    min-height: 45px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    padding: 0 1.6rem;
}


/* .form-control__input:focus {
    border: 2px solid red;
} */

.form-control__input:required {
    border: 2px solid red;
}

.form-control__input:valid {
    border: 2px solid green;
}

.form-control__input:focus {
    border: 2px solid purple;
}

.form-control__input:focus-visible {
    border: 2px solid purple;
}


/* .form-control__input:focus-visible {
    border: 2px solid red;
    /* otras propiedades */


}
*/
/* position helper */
.p-relative {
    position: relative;
}

/* seccion */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.header-section {
    /* min-height: 6.4rem; */
    
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-top: 2rem;
    /* padding-top: 2rem; */
    /* border: 1px solid red; */
    /* padding-left: 2rem; */
}
.header-section__text {
    background-color: var(--secondary-color);
    padding: 0.9rem;
    font-size: 1.6rem;
    color: var(--theme-color);
    font-weight: 400;
    display: inline-block;
    width: 22rem;
}
.button {
    border: none;
    min-width: 10rem;
    width: 10rem;
    height: 2.8rem;
    /* padding: 0 30px 0 30px; */
    
    color: var(--theme-color);
    border-radius: 5px;
    background-color: var(--button-primary-color);
    transition: .3s ease all;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}
.button--blue-light {
    background-color: var(--secondary-color);
}
.button--yellow {
    background-color: var(--color-day-selected);
}
.button--green {
    background-color: var(--button-third-color);
}

/*Estilos para desktop*/
@media (min-width: 950px) {
    header {
        background-image: url('/img/portada_salud.png');
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        /* height: 20rem; */
        height: 25%;
    }
    
    .contenedor-logo {
        width: 80%;
        height: 60%;
        position: relative;
        top: -2.5rem;
        /* margin-bottom: 4rem; */
        /* margin-top: 4rem; */
        /* margin: 0; */
    }
    
    .logo {
        background-image: url('/img/logo_salud_Desktop.svg');
        height: 8.3rem;
        width: 36.4rem;
        left: 0;
    }
    
    .open-menu {
        display: none;
    }
    
    .menu {
        position: static;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        height: 25%;
        opacity: 1;
        pointer-events: auto;
    }
    
    .menu__img-close {
        display: none;
    }
    
    .menu__link--close {
        display: none;
    }
    
    .menu__link {
        min-width: 10%;
        text-align: center;
        border-style: none;
    }
    
    main {
        height: 65%;
    }
    
    h1 {
        font-size: 2.5rem;
        width: 100%;
        text-align: center;
    }
    
    .contenedor-desktop {
        display: flex;
        justify-content: space-between;
        /* gap: 12rem; */
    }
    
    .container {
        background-color: #FFFFFF;
        /* height: 100%; */
        /*pruebas para ver alto de pagina completo segun la pantalla*/
        /* max-height: 80%; */
        width: 80%;
        margin: 0 auto;
        opacity: 0.8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    .form-control {
        gap: 1rem;
        margin: 0.5rem;
    }
    
    .form-control__input {
        /* width: 16rem; */
        width: 20rem;
    }
    
    .button {
        width: 20rem;
        height: 3.5rem;
    }
}