.container {
    justify-content: flex-start;
}

.container-calendar {
    display: none;
}

.content {
    height: 65%;
}

.subtitle-section {
    /* min-height: 4rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.subtitle-section__text {
    background-color: var(--button-third-color);
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--theme-color);
    font-weight: 400;
}

.profesionales {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    /* border: 1px dashed red; */
    height: 75%;
    overflow-y: scroll;
}

.profesional {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.8rem 0;
    max-width: 360px;
}

.profesional__datos {
    background-color: var(--background-color-light);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    height: 4rem;
}

.profesional__nombre {
    font-weight: 700;
    color: var(--primary-color);
    font-size: 1.5rem;
}

.horarios {
    /* border: 1px dashed orange; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    /* width: 100%; */
    margin-top: 0.8rem;
}

.horario {
    display: flex;
    border: 2px solid lightgray;
    border-radius: 12%;
    padding: 0.5rem;
    margin: 0.3rem;
    height: 28px;
    max-height: 28px;
    min-width: 50px;
    max-width: 50px;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: var(--fourth-color);
}


/*Este era la clase del span que tenia dentro del boton de horarios*/


/* .container {
    justify-content: flex-start;
} */


/* .content {
    height: 80%;
    border: 1px dashed green;
} */


/* .horario__texto {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: var(--fourth-color);
    z-index: -1;
} */

.horario--selected {
    color: var(--theme-color);
    font-weight: bold;
    background-color: var(--button-third-color);
}

.actions {
    display: flex;
    justify-content: space-evenly;
    padding: 1.6rem;
    width: 100%;
    background-color: var(--background-color-light);
    max-width: 360px;
    margin: 0 auto;
}

.descripcion-calendario {
    display: none;
}

.profesionales__header {
    display: none;
}

.button--display {
    display: none;
}

.profesional .button {
    display: none;
}


/* Para dispositivos de escritorio */

@media (min-width: 950px) {
    .container-calendar {
        display: block;
    }
    .subtitle-section {
        display: none;
    }
    .content {
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: space-between;
        margin: 0 auto;
    }
    .calendar-day {
        display: none;
    }
    .profesionales {
        /* width: 50%;
        min-width: 380px;
        height: 380px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.6rem;
        font-family: 'Roboto', sans-serif;
        width: 50%;
        min-width: 38rem;
        height: 30rem;
        overflow-y: scroll;
    }
    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 950px;
        /* height: auto; */
        height: 100%;
    }
    .circle {
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 25px;
    }
    .circle--selected {
        background: var(--color-day-selected);
    }
    .circle--avaible {
        background: var(--button-third-color);
    }
    .descripcion-calendario {
        display: flex;
        justify-content: space-around;
        font-size: 1rem;
        align-items: center;
        /* font-family: 'Roboto', sans-serif; */
        font-weight: 400;
        max-width: 95%;
        /* margin: 1.6rem auto; */
    }
    /* .actions {
        display: flex;
        justify-content: center;
        padding: 0.6rem;
        margin-top: 2rem;
        background-color: initial;
        width: 350rem;
    } */
    .actions {
        position: absolute;
        display: flex;
        justify-content: space-between;
        /* justify-content: flex-end; */
        align-items: center;
        /* width: 100%;
        height: 100%;
        left: 52%;
        top: 30%; */
        left: 53%;
        top: 70%;
        background: none;
        /*este zindex es que porque superpuse este boton al dejarlo absolute y no me permitia pinchar los botones con los horarios*/
        /* z-index: -1; */
    }
    .actions .button {
        /* margin-top: 1rem; */
        width: 14rem;
        height: 3.5rem;
    }
    .profesionales__header {
        display: block;
    }
    .fecha-especialidad {
        margin: 1rem;
    }
    .fecha-especialidad span {
        display: inline-block;
        padding: 0.5rem;
        text-align: center;
        width: 80%;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .fecha-especialidad .fecha {
        background-color: var(--color-day-selected);
        color: var(--theme-color);
        text-transform: uppercase;
        height: 3.5rem;
        padding-top: 1rem;
    }
    .fecha-especialidad .especialidad {
        color: var(--button-third-color);
        text-align: left;
        font-size: 1.6rem;
        margin-top: 1rem;
    }
    .busqueda-especialista {
        display: none;
    }
    /* .profesional__datos .mostrar-horas {
        display: none;
    } */
    .content {
        height: auto;
    }
}